@import "@root/styles/abstracts/mixins";
.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  width: 100%;
  height: 90dvh;
  @include respond(tablet) {
    flex-direction: column;
  }
}

.menu-canvas {
  flex: 2;

  &-fix {
    flex: 1.99;
  }
}

.menu-content {
  flex: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-y: scroll;
  border-left: 1rem solid var(--pr2);
  @include respond(tablet) {
    flex: 2;
    border-left: 0;
    border-top: 1rem solid var(--pr2);
  }
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.btn {
  outline: none;
  background-color: transparent;
  border: none;
  margin-top: 10rem;

  color: var(--text);
  font-size: var(--h4-size);
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    color: var(--pr2);
  }
  @include respond(tablet) {
    margin-top: 2rem;
  }
}

.item-container {
  width: clamp(30rem, 50vw, 70rem);
  background: var(--calendar-item-bg);
  border-radius: 2rem;
  padding: var(--padding-hg);
  box-shadow: var(--shadow-card);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  &:last-child {
    margin-bottom: 5rem;
  }
}

.title {
  font-size: var(--p-size-hg);
}
.price {
  font-size: var(--p-size-sm);
}
